body { 
    background-color: #bbbbbb;
    font-family: 'Alice', serif;
}
p { 
    
}
h1,h2,h3 { 
    font-family: 'Sacramento', cursive;
}
nav {
    background-color: #000000;
    border: 1px 93deff solid; 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    background-color: 9fd3c7;
    display: block; 
    padding: 10px;
}
nav a:hover {
    color: #101010;
    background-color: #8d2222;
}
div {
    font-family: 'Times New Roman', Times, serif  
}
P{
    color:#000000;
    font-size: x-large;
}
Li{
    color:rgb(59, 59, 59);
    font-size: large;
}
#no{
    float: left;
    margin: 0 15px 0 0;
}
#ye{
    float: left;
    margin: 0 60px 0 0;
}
footer p {
    color:rgb(56, 56, 56);
    outline: black;
}
.float-right {
    float: right;
    margin: 0 0 0 60px;
}
.float-left {
    float: left;
    margin: 0 60px 0 0;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}